body{
  margin-top: 10px;
  }#side1{
  width: 338px;
  border-color: #276030;
  border-width: thin;

}
#param1{
  text-align:left;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  color: #1e1033;
}
#side2{
  width: 338px;
  border-color: #276030;
  border-width: thin;
}
#side3{
  width: 338px;
  border-color: #276030;
  border-width: thin;
}
#triangletracker{
  align:center;
}
.margin{

  width:30%;
  margin-left: auto;
  margin-right: auto;

}
.properties{
  margin-top: 60px;
  text-align: right;
  padding: 35px;
}
@media screen and (max-width: 768px) {
  body {

    font-size:70%;
    margin-top: 10px;
  }
  #row{
    width:200px;
    margin-left: auto;
    margin-right: auto;
  }
  #param1{
    text-align:center;
    font-family: 'proxima-nova', sans-serif;
    font-weight: bold;
    color: #1e1033;
    font-size: 100%;
  }
  #side1{
  width: 200px;
  border-color: #276030;
  border-width: thin;

}
#side2{
width: 200px;
border-color: #276030;
border-width: thin;

}
#side3{
width: 200px;
border-color: #276030;
border-width: thin;

}
  .margin{

    width:30%;
    margin-left: auto;
    margin-right: auto;

  }
  #show{
    float: left;
  }
  #reset{
    float:left;
  }
  .properties{
    margin-top: 60px;
    text-align: right;
    padding: 35px;
  }
}
